@font-face {
  font-family: 'iconfonts';
  src: url('./fonts/iconfonts.eot');
  src: url('./fonts/iconfonts.eot') format('embedded-opentype'),
       url('./fonts/iconfonts.woff') format('woff'),
       url('./fonts/iconfonts.woff2') format('woff2'),
       url('./fonts/iconfonts.svg') format('svg'),
       url('./fonts/iconfonts.ttf') format('truetype');
}

[class^="st-icon-"],
[class*=" st-icon-"] {
  font-family: 'iconfonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  cursor: pointer;
}

.st-icon-close::before {font-family: 'iconfonts' !important;content: "\f00d"};
