@font-face {
  font-family: 'awesome-font-icons';
  src: url('fonts/st-fonts.eot') format('eot'),
       url('fonts/st-fonts.svg') format('svg'),
       url('fonts/st-fonts.ttf') format('ttf'),
       url('fonts/st-fonts.woff') format('woff'),
       url('fonts/st-fonts.woff2') format('woff2'),
}

[class^="st-icon-"] {
  font-family: 'awesome-font-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
}

.st-icon-close::before {content: "\f00d"};
